<h1>Edit <%= @program.title %></h1>
<%= form_for @program do |f| %>
  <%= f.text_field :title, placeholder: :title %><br>
  <%= f.date_field :date %><br>
  <%= f.time_field :time %><br>
  <%= f.text_area :description, placeholder: :description %><br>
  <%= f.collection_select :category_id, Category.all, :id,:name, include_blank: :category %><br>
  <%= f.submit "Submit" %>
<% end %>  