<% if current_user && (current_user.admin? || current_user.staff?) %>
  <%= render 'layouts/edit_program_as_admin' %>
<% elsif current_user.programs.include?(@program) %>
  <%= render 'layouts/edit_program_as_host' %>
<% else %>
  <h2>Oops. You do not have permission to view this page.</h2>
  <%= link_to 'Back', :back %>
<% end %>

<h1>Edit <%= @program.title %></h1>
<%= form_for @program do |f| %>
  <%= f.text_field :title, placeholder: :title %><br>
  <%= f.date_field :date %><br>
  <%= f.time_field :time %><br>
  <%= f.text_area :description, placeholder: :description %><br>
  <%= f.collection_select :category_id, Category.all, :id,:name, include_blank: :category %><br>
  <%= f.submit "Submit" %>
<% end %>  
