<% if @program.errors.any? %>
  <div id='error_explanation'>
    <h2><%= pluralize(@program.errors.count, 'error') %> prohibited this task from being saved:</h2>
    <ul>
      <% @program.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3 class='form-header'>Create Program</h3>
<div class='form'>
  <%= form_for @program do |f| %>
    <div class='form-group'>
      <%= f.label             :title %>
      <%= f.text_field        :title, placeholder: 'ex. A Deeper Look', autofocus: true, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label             :date %>  
      <%= f.date_field        :date, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label             :time %>
      <%= f.time_field        :time, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label             :description %>
      <%= f.text_area         :description, placeholder: 'ex. Interview show focusing on challenging social...', rows: 3, class: 'form-control' %>
    </div>
    <div class='form-group'>
      <%= f.label             :category %>
      <%= f.collection_select(:category_id, Category.all, :id, :name, { include_blank: :true }, { class: 'form-control' }) %>
    </div>
    <div class='form-group'>
      <%= f.label             :host %>
      <%= f.fields_for :hosts, @program.hosts.new do |ff| %>
        <%= render 'host_form', :f => ff %>
      <% end %>
    </div>
    <div class='form-group'>
      <%= f.submit 'Save Program', class: 'btn btn-success' %>
    </div>
  <% end %>  
</div>