<h1>Create new program</h1>
<%= form_for @program do |f| %>
  <%= f.text_field :title, placeholder: 'Title' %><br>
  <%= f.date_field :date,  placeholder: 'Date' %><br>
  <%= f.time_field :time,  placeholder: 'Time' %><br>
  <%= f.text_area   :description, placeholder: 'Description' %><br>
  <%= f.collection_select :category_id, Category.all, :id,:name, include_blank: 'Category' %><br>
  <%= f.file_field :image %>
  <%= f.submit "Submit" %>
<% end %>  