<h1>Create new program</h1>
<%= form_for @program do |f| %>
  <%= f.label             :title %>
  <%= f.text_field        :title, placeholder: 'ex. A Deeper Look', autofocus: true %><br>
  <%= f.label             :date %>  
  <%= f.date_field        :date %><br>
  <%= f.label             :time %>
  <%= f.time_field        :time %><br>
  <%= f.label             :description %>
  <%= f.text_area         :description, placeholder: 'ex. Interview show focusing on challenging social...' %><br>
  <%= f.label             :category %>
  <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: :true %><br>
  <%= f.label             :host %>
  <%= f.fields_for :hosts, @program.hosts.new do |ff| %>
    <%= render 'layouts/host_form', :f => ff %>
  <% end %><br>
  <%= f.submit "Save Program" %>
<% end %>  