<h1>Create new program</h1>
<%= form_for @program do |f| %>
  <%= f.text_field :title, placeholder: 'Title' %><br>
  <%= f.date_field :date,  placeholder: 'Date' %><br>
  <%= f.time_field :time,  placeholder: 'Time' %><br>
  <%= f.text_area  :description, placeholder: 'Description' %><br>
  <%= f.label :category %>
  <%= f.collection_select :category_id, Category.all, :id, :name, include_blank: :true %><br>
  <%= f.label :host %>
  <%= f.fields_for :hosts, @program.hosts.new do |ff| %>
    <%= render 'layouts/host_form', :f => ff %>
  <% end %>
  <%= f.submit "Submit" %>
<% end %>  