<h1><%= @program.title %></h1>
<%= image_tag @program.image.url(:medium) %>
<p>Date: <strong><%= @program.date %></strong></p>
<p>Time: <strong><%= @program.time.to_s[11..15] %></strong></p>
<p>Category: <strong><%= @program.category.name %></strong></p>
<p>Description: <strong><%= @program.description %></strong></p>

<p>Hosts:</p>
  <ul><% @program.hosts.each do |host| %>
    <li><%= link_to host.email, host %></li>
  <% end %>
  </ul> 

<% if current_user && (current_user.admin? || current_user.staff? ) %>
  <%= link_to 'Edit', edit_program_path %>
  <%= link_to 'Delete', program_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<ul>
<% @program.episodes.each do |episode| %>
  <li><%= link_to "episode", episode %></li>
<% end %>
</ul>
