<% if @episode.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@episode.errors.count, "error") %> prohibited this task from being saved:</h2>
    <ul>
      <% @episode.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<h3>Edit <%= @episode.title %></h3>
<%= form_for @episode, :html => { :multipart => true }, class: 'form-horizontal' do |f| %>
  <div class='control-group'>
    <%= f.label             :program_id, class: 'control-label' %>            
    <div class='controls'>
      <%= f.collection_select :program_id, Program.all, :id, :title, include_blank: :true %> 
    </div>
  </div>
  <div class='control-group'>
    <%= f.label         :title, class: 'control-label' %>              
    <div class='controls'>
      <%= f.text_field    :title %>              
    </div>
  </div>
  <div class='control-group'>
    <%= f.label         :short_description, class: 'control-label' %>  
    <div class='controls'>
      <%= f.text_field    :short_description %>  
    </div>
  </div>
  <div class='control-group'>
    <%= f.label         :long_description, class: 'control-label' %>   
    <div class='controls'>
      <%= f.text_area     :long_description, rows: 3 %>   
    </div>
  </div>
  <div class='control-group'>
    <%= f.label         :image, class: 'control-label' %>                  
    <%= f.file_field    :image %>              
    <%= f.submit 'Submit' %>                   
  </div>
<% end %> 

