<h3>RECENT EPISODES</h3>
<div class='recent_programs'>
  <% @episodes.each do |episode| %>
    <div class='panel'>
      <p class='panel-header'><%= link_to episode.program.title, program_path(episode.program.id) %> - <%= link_to episode.title, episode_path(episode.id) %></p>
      <h4><%= episode.short_description %></h4>
      <span><%= "Host: #{episode.host}"%></span><br>
      <span><%= link_to 'Download', episode.audio_url %>
      <a  value='Play' onclick='updatePlayer("<%= episode.audio_url %>");' class='btnplay'></a>
    </div>
  <% end %>   
</div>
