<% provide(:title, @episode.title) %>
<div class='panel'>
  <div class='info-wrapper'>
    <h2><%= @episode.title %></h2>
    <p><% if @episode.image.exists? %>
          <%= image_tag @episode.image.url %>
        <% end %>
    </p>
    <span class='info-block'>
      <span class='soft'>Airs: </span> <span class='hard'><%= @episode.program.date.strftime('%a %m/%d/%Y') %> at <%= @episode.program.time.strftime('%I:%M%p') %></span>
    </span>
   
    <%= link_to 'Download', @episode.audio_url %>

    <% if current_user && (current_user.admin? || current_user.staff? || current_user.programs.include?(@episode) ) %>
      <%= link_to 'Edit', edit_episode_path %>
      <%= link_to 'Delete', episode_path, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
</div>
