<h1><%= @episode.title %></h1>
<p><% if @episode.image.exists? %>
      <%= image_tag @user.image.url %>
    <% end %>
</p>
<p>Title: <strong><%= @episode.title %></strong></p>
<p>Short: <strong><%= @episode.short_description %></strong></p>
<p>Audio: <% if @episode.audio_promo %>
            <strong><%= @episode.audio_promo %></strong>
          <% end %>
</p>
<p>Description: <strong><%= @episode.long_description %></strong></p>

<% if current_user && (current_user.admin? || current_user.staff? || current_user.programs.include?(@episode) ) %>
  <%= link_to 'Edit', edit_episode_path %>
  <%= link_to 'Delete', episode_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>