<%= @episode.title %>
<br>
<%= "Program: #{@episode.title}" %>
<br>
<%= "Air Date: #{@episode.created_at.to_time.strftime("%b %-d, %Y @ %-I:%M%P")}" %>
<hr>
<table>
<tr>
    <td><%= image_tag @episode.image.url(:medium) %></td>
    <td>
      <ul>
        <li><%= @episode.short_description %></li>
        <li><%= @episode.audio_promo %></li>
        <li><%= @episode.long_description %></li>
        <li><%= link_to "MP3", @episode.url %></li>
      </ul>
    </td>
  </tr>
</table>