<% provide(:title, @episode.title) %>
<h1><%= @episode.title %></h1>
<p><% if @episode.image.exists? %>
      <%= image_tag @episode.image.url %>
    <% end %>
</p>
<p>Airs: <strong><%= @episode.program.date.strftime('%a %m/%d/%Y') %> at <%= @episode.program.time.strftime('%I:%M%p') %></strong></p>
<p>Short: <strong><%= @episode.short_description %></strong></p>
<p>Program: <strong><%= @episode.program.title %></strong></p>
<p>Description: <strong><%= @episode.long_description %></strong></p>
<%= link_to 'Download', @episode.audio_url %>

<% if current_user && (current_user.admin? || current_user.staff? || current_user.programs.include?(@episode) ) %>
  <%= link_to 'Edit', edit_episode_path %>
  <%= link_to 'Delete', episode_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
