<!DOCTYPE html>
<html>
<head>
  <title>Kboo</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<<<<<<< HEAD
  <%= render "layouts/header" %>
  <%= flash[:notice] %>
  <%= flash[:alert] %>
  <%= flash[:success] %>
  <%= yield %>
=======

<%= yield %>
<%= render 'layouts/header' %>

>>>>>>> 258528a... navbar
</body>
</html>
