<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=0.75;">
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class='banner'></div>
    
    <div class='wrapper' id='mobile-wrapper'>
      
    </div>
    <div class='container'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
      <%= flash[:success] %>

      <%= yield %>
      <%= render 'layouts/jplayer' %>

      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
